openapi: 3.0.3

info:
  title: LociBlink WhatsApp API
  description: LociBlink API for WhatsApp messaging and customer engagement
  version: 1.0.0

servers:
  - url: https://app.lociblink.com/api
    description: Production
  - url: http://localhost:8080/integrations/api/v1/whatsapp
    description: Local Development

security:
  - apiKeyAuth: []
  - bearerAuth: []

tags:
  - name: WhatsApp
    x-displayName: WhatsApp
    description: WhatsApp messaging APIs
  - name: Business
    x-parent: WhatsApp
    description: Business information and configuration
  - name: Templates
    x-parent: WhatsApp
    description: WhatsApp message templates
  - name: Messages
    x-parent: WhatsApp
    description: Send WhatsApp messages

paths:
  /business:
    get:
      tags:
        - Business
      summary: Get business details
      operationId: getBusiness
      responses:
        "200":
          description: Business details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Business"

  /templates:
    get:
      tags:
        - Templates
      summary: Get WhatsApp templates
      operationId: getTemplates
      responses:
        "200":
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Template"

  /messages:
    post:
      tags:
        - Messages
      summary: Send a WhatsApp message
      operationId: sendMessage
      description: |
        Send WhatsApp messages using approved templates. Supports **Transactional**, **Promotional**, and **Authentication** message types.

        ---

        ### 1. Transactional Message (Order Confirmation / Receipt)
        For utility updates, order confirmations, booking receipts, or delivery notifications.

        ```bash
        curl --location 'http://localhost:8080/integrations/api/v1/whatsapp/messages' \
          --header 'X-Api-Key: YOUR_API_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "to": "919876543210",
            "templateName": "order_confirmation",
            "languageCode": "en_US",
            "bodyParameters": [
              "Sneha",
              "ORD-78901",
              "₹1,499",
              "Tomorrow, 5 PM"
            ],
            "buttons": [
              {
                "type": "url",
                "index": 0,
                "value": "ORD-78901"
              }
            ]
        }'
        ```
        *(Optional: For invoices with a PDF document header, simply add `"headerMediaUrl": "https://example.com/invoice.pdf"` and `"headerMediaType": "DOCUMENT"`).*

        ---

        ### 2. Promotional Message (Sale / Discount Campaign)
        For marketing campaigns with an image banner, discount details, and a dynamic action button.

        ```bash
        curl --location 'http://localhost:8080/integrations/api/v1/whatsapp/messages' \
          --header 'X-Api-Key: YOUR_API_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "to": "919876543210",
            "templateName": "festive_sale_offer",
            "languageCode": "en_US",
            "headerMediaUrl": "https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da",
            "headerMediaType": "IMAGE",
            "bodyParameters": [
              "Sneha",
              "25",
              "FESTIVE25"
            ],
            "buttons": [
              {
                "type": "url",
                "index": 0,
                "value": "FESTIVE25"
              }
            ]
        }'
        ```

        ---

        ### 3. Authentication Message (OTP)
        For sending one-time passwords, verification codes, and security authentication.

        ```bash
        curl --location 'http://localhost:8080/integrations/api/v1/whatsapp/messages' \
          --header 'X-Api-Key: YOUR_API_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "to": "919876543210",
            "templateName": "otp",
            "languageCode": "en_US",
            "components": [
              {
                "type": "body",
                "parameters": [
                  { "type": "text", "text": "481902" }
                ]
              },
              {
                "type": "button",
                "sub_type": "url",
                "index": 0,
                "parameters": [
                  { "type": "text", "text": "481902" }
                ]
              }
            ]
        }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
            examples:
              transactional:
                summary: 1. Transactional Message (Order Confirmation / Receipt)
                description: For utility updates, order confirmations, booking receipts, or delivery notifications.
                value:
                  to: "919876543210"
                  templateName: "order_confirmation"
                  languageCode: "en_US"
                  bodyParameters:
                    - "Sneha"
                    - "ORD-78901"
                    - "₹1,499"
                    - "Tomorrow, 5 PM"
                  buttons:
                    - type: "url"
                      index: 0
                      value: "ORD-78901"
              promotional:
                summary: 2. Promotional Message (Sale / Discount Campaign)
                description: For marketing campaigns with an image banner, discount details, and a dynamic action button.
                value:
                  to: "919876543210"
                  templateName: "festive_sale_offer"
                  languageCode: "en_US"
                  headerMediaUrl: "https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da"
                  headerMediaType: "IMAGE"
                  bodyParameters:
                    - "Sneha"
                    - "25"
                    - "FESTIVE25"
                  buttons:
                    - type: "url"
                      index: 0
                      value: "FESTIVE25"
              authentication:
                summary: 3. Authentication Message (OTP)
                description: For one-time passwords, verification codes, and security authentication.
                value:
                  to: "919876543210"
                  templateName: "otp"
                  languageCode: "en_US"
                  components:
                    - type: "body"
                      parameters:
                        - type: "text"
                          text: "481902"
                    - type: "button"
                      sub_type: "url"
                      index: 0
                      parameters:
                        - type: "text"
                          text: "481902"
      responses:
        "200":
          description: Message accepted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Business:
      type: object
      properties:
        id:
          type: string
          example: business_123
        name:
          type: string
          example: ABC Salon

    Template:
      type: object
      properties:
        id:
          type: string
          example: template_123
        name:
          type: string
          example: hello_customer
        status:
          type: string
          example: APPROVED

    SendMessageRequest:
      type: object
      required:
        - to
        - templateName
      properties:
        to:
          type: string
          description: Recipient WhatsApp number in international format
          example: "919876543210"
        templateName:
          type: string
          description: WhatsApp template name
          example: order_confirmation
        languageCode:
          type: string
          description: Template language code
          example: en_US
        headerMediaUrl:
          type: string
          description: Optional URL for image or document header
          example: "https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da"
        headerMediaType:
          type: string
          description: Type of media for header
          enum:
            - IMAGE
            - DOCUMENT
            - VIDEO
          example: IMAGE
        bodyParameters:
          type: array
          description: Parameters for template body placeholders
          items:
            type: string
          example:
            - "Sneha"
            - "ORD-78901"
            - "₹1,499"
            - "Tomorrow, 5 PM"
        buttons:
          type: array
          description: Dynamic buttons configuration
          items:
            type: object
            properties:
              type:
                type: string
                example: url
              index:
                type: integer
                example: 0
              value:
                type: string
                example: ORD-78901
        components:
          type: array
          description: Meta WhatsApp components structure (used for authentication / OTP)
          items:
            type: object
            properties:
              type:
                type: string
                example: body
              sub_type:
                type: string
                example: url
              index:
                type: integer
                example: 0
              parameters:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: text
                    text:
                      type: string
                      example: "481902"

    MessageResponse:
      type: object
      properties:
        id:
          type: string
          example: msg_123456
        status:
          type: string
          example: queued