openapi: 3.0.3

info:
  title: LociBlink WhatsApp API
  description: LociBlink API for WhatsApp messaging and customer engagement
  version: 1.0.0

servers:
  - url: https://app.lociblink.com/api
    description: Production

security:
  - bearerAuth: []

tags:
  - name: WhatsApp
    description: WhatsApp messaging APIs

paths:
  /business:
    get:
      tags:
        - WhatsApp
      summary: Get business details
      operationId: getBusiness
      responses:
        "200":
          description: Business details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Business"

  /templates:
    get:
      tags:
        - WhatsApp
      summary: Get WhatsApp templates
      operationId: getTemplates
      responses:
        "200":
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Template"

  /messages:
    post:
      tags:
        - WhatsApp
      summary: Send a WhatsApp message
      operationId: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "200":
          description: Message accepted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Business:
      type: object
      properties:
        id:
          type: string
          example: business_123
        name:
          type: string
          example: ABC Salon

    Template:
      type: object
      properties:
        id:
          type: string
          example: template_123
        name:
          type: string
          example: hello_customer
        status:
          type: string
          example: APPROVED

    SendMessageRequest:
      type: object
      required:
        - to
        - template
      properties:
        to:
          type: string
          description: Recipient WhatsApp number in international format
          example: "919876543210"
        template:
          type: string
          description: WhatsApp template name
          example: hello_customer
        parameters:
          type: array
          description: Template parameters
          items:
            type: string
          example:
            - John

    MessageResponse:
      type: object
      properties:
        id:
          type: string
          example: msg_123456
        status:
          type: string
          example: queued