openapi: 3.0.3

info:
  title: LociBlink WhatsApp API
  description: LociBlink API for WhatsApp messaging and customer engagement
  version: 1.0.0

servers:
  - url: https://api.lociblink.com/api
    description: Production
  - url: http://localhost:8080/integrations/api/v1/whatsapp
    description: Local Development

security:
  - apiKeyAuth: []
  - bearerAuth: []

tags:
  - name: WhatsApp
    x-displayName: WhatsApp
  - name: Business
    x-parent: WhatsApp
  - name: Templates
    x-parent: WhatsApp
  - name: Messages
    x-parent: WhatsApp

paths:
  /business:
    get:
      tags:
        - Business
      summary: Get business details
      operationId: getBusiness
      responses:
        "200":
          description: Business details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: business_123
                  name:
                    type: string
                    example: ABC Salon
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

  /templates:
    get:
      tags:
        - Templates
      summary: Get all WhatsApp Templates
      operationId: getAllTemplates
      responses:
        "200":
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: template_123
                    name:
                      type: string
                      example: hello_customer
                    category:
                      type: string
                      example: UTILITY
                    language:
                      type: string
                      example: en_US
                    status:
                      type: string
                      example: APPROVED
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

    post:
      tags:
        - Templates
      summary: Create WhatsApp Template
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - language
                - category
              properties:
                name:
                  type: string
                  description: WhatsApp template name
                  example: hello_customer
                language:
                  type: string
                  description: Template language code
                  example: en_US
                category:
                  type: string
                  description: Template category
                  enum:
                    - UTILITY
                    - MARKETING
                    - AUTHENTICATION
                  example: UTILITY
                components:
                  type: array
                  description: Template structure components (headers, body text, buttons)
                  items:
                    type: object
      responses:
        "201":
          description: Template created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: template_123
                  name:
                    type: string
                    example: hello_customer
                  category:
                    type: string
                    example: UTILITY
                  language:
                    type: string
                    example: en_US
                  status:
                    type: string
                    example: APPROVED
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request payload or missing required parameters
                  code:
                    type: integer
                    example: 400
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

  /templates/{id}:
    get:
      tags:
        - Templates
      summary: Get WhatsApp Template
      operationId: getTemplate
      parameters:
        - name: id
          in: path
          required: true
          description: Template identifier or name
          schema:
            type: string
            example: template_123
      responses:
        "200":
          description: Template retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: template_123
                  name:
                    type: string
                    example: hello_customer
                  category:
                    type: string
                    example: UTILITY
                  language:
                    type: string
                    example: en_US
                  status:
                    type: string
                    example: APPROVED
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "404":
          description: Template not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: Template with specified ID was not found
                  code:
                    type: integer
                    example: 404
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

  /messages/transactional:
    post:
      tags:
        - Messages
      summary: Send Transactional Message
      operationId: sendTransactionalMessage
      description: |
        Send utility updates, order confirmations, booking receipts, or delivery notifications using approved transactional templates.

        ```bash
        curl --location 'http://localhost:8080/integrations/api/v1/whatsapp/messages' \
          --header 'X-Api-Key: YOUR_API_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "to": "919876543210",
            "templateName": "order_confirmation",
            "languageCode": "en_US",
            "bodyParameters": [
              "Sneha",
              "ORD-78901",
              "₹1,499",
              "Tomorrow, 5 PM"
            ],
            "buttons": [
              {
                "type": "url",
                "index": 0,
                "value": "ORD-78901"
              }
            ]
        }'
        ```
        *(Optional: For invoices with a PDF document header, simply add `"headerMediaUrl": "https://example.com/invoice.pdf"` and `"headerMediaType": "DOCUMENT"`).*
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - templateName
              properties:
                to:
                  type: string
                  description: Recipient WhatsApp number in international format
                  example: "919876543210"
                templateName:
                  type: string
                  description: WhatsApp template name
                  example: order_confirmation
                languageCode:
                  type: string
                  description: Template language code
                  example: en_US
                headerMediaUrl:
                  type: string
                  description: Optional URL for invoice PDF or media header
                  example: "https://example.com/invoice.pdf"
                headerMediaType:
                  type: string
                  description: Media type of header (e.g. DOCUMENT)
                  example: DOCUMENT
                bodyParameters:
                  type: array
                  description: Parameters for template body placeholders
                  items:
                    type: string
                  example:
                    - "Sneha"
                    - "ORD-78901"
                    - "₹1,499"
                    - "Tomorrow, 5 PM"
                buttons:
                  type: array
                  description: Dynamic buttons configuration
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: url
                      index:
                        type: integer
                        example: 0
                      value:
                        type: string
                        example: ORD-78901
            example:
              to: "919876543210"
              templateName: "order_confirmation"
              languageCode: "en_US"
              bodyParameters:
                - "Sneha"
                - "ORD-78901"
                - "₹1,499"
                - "Tomorrow, 5 PM"
              buttons:
                - type: "url"
                  index: 0
                  value: "ORD-78901"
      responses:
        "200":
          description: Message accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: msg_123456
                  status:
                    type: string
                    example: queued
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request payload or missing required parameters
                  code:
                    type: integer
                    example: 400
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

  /messages/promotional:
    post:
      tags:
        - Messages
      summary: Send Promotional Message
      operationId: sendPromotionalMessage
      description: |
        Send marketing campaigns with an image banner, discount details, and a dynamic action button.

        ```bash
        curl --location 'http://localhost:8080/integrations/api/v1/whatsapp/messages' \
          --header 'X-Api-Key: YOUR_API_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "to": "919876543210",
            "templateName": "festive_sale_offer",
            "languageCode": "en_US",
            "headerMediaUrl": "https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da",
            "headerMediaType": "IMAGE",
            "bodyParameters": [
              "Sneha",
              "25",
              "FESTIVE25"
            ],
            "buttons": [
              {
                "type": "url",
                "index": 0,
                "value": "FESTIVE25"
              }
            ]
        }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - templateName
              properties:
                to:
                  type: string
                  description: Recipient WhatsApp number in international format
                  example: "919876543210"
                templateName:
                  type: string
                  description: WhatsApp template name
                  example: festive_sale_offer
                languageCode:
                  type: string
                  description: Template language code
                  example: en_US
                headerMediaUrl:
                  type: string
                  description: URL for campaign banner image
                  example: "https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da"
                headerMediaType:
                  type: string
                  description: Type of media for header
                  example: IMAGE
                bodyParameters:
                  type: array
                  description: Parameters for promotional offer placeholders
                  items:
                    type: string
                  example:
                    - "Sneha"
                    - "25"
                    - "FESTIVE25"
                buttons:
                  type: array
                  description: Dynamic call-to-action buttons
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: url
                      index:
                        type: integer
                        example: 0
                      value:
                        type: string
                        example: FESTIVE25
            example:
              to: "919876543210"
              templateName: "festive_sale_offer"
              languageCode: "en_US"
              headerMediaUrl: "https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da"
              headerMediaType: "IMAGE"
              bodyParameters:
                - "Sneha"
                - "25"
                - "FESTIVE25"
              buttons:
                - type: "url"
                  index: 0
                  value: "FESTIVE25"
      responses:
        "200":
          description: Message accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: msg_123456
                  status:
                    type: string
                    example: queued
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request payload or missing required parameters
                  code:
                    type: integer
                    example: 400
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

  /messages/authentication:
    post:
      tags:
        - Messages
      summary: Send Authentication Message
      operationId: sendAuthenticationMessage
      description: |
        Send one-time passwords (OTP), verification codes, and security authentication using WhatsApp authentication components.

        ```bash
        curl --location 'http://localhost:8080/integrations/api/v1/whatsapp/messages' \
          --header 'X-Api-Key: YOUR_API_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "to": "919876543210",
            "templateName": "otp",
            "languageCode": "en_US",
            "components": [
              {
                "type": "body",
                "parameters": [
                  { "type": "text", "text": "481902" }
                ]
              },
              {
                "type": "button",
                "sub_type": "url",
                "index": 0,
                "parameters": [
                  { "type": "text", "text": "481902" }
                ]
              }
            ]
        }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - templateName
                - components
              properties:
                to:
                  type: string
                  description: Recipient WhatsApp number in international format
                  example: "919876543210"
                templateName:
                  type: string
                  description: WhatsApp OTP template name
                  example: otp
                languageCode:
                  type: string
                  description: Template language code
                  example: en_US
                components:
                  type: array
                  description: Authentication components for OTP body text and copy-code button
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: body
                      sub_type:
                        type: string
                        example: url
                      index:
                        type: integer
                        example: 0
                      parameters:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: text
                            text:
                              type: string
                              example: "481902"
            example:
              to: "919876543210"
              templateName: "otp"
              languageCode: "en_US"
              components:
                - type: "body"
                  parameters:
                    - type: "text"
                      text: "481902"
                - type: "button"
                  sub_type: "url"
                  index: 0
                  parameters:
                    - type: "text"
                      text: "481902"
      responses:
        "200":
          description: Message accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: msg_123456
                  status:
                    type: string
                    example: queued
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Invalid request payload or missing required parameters
                  code:
                    type: integer
                    example: 400
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
                  message:
                    type: string
                    example: Invalid or missing API key
                  code:
                    type: integer
                    example: 401
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An unexpected error occurred while processing the request
                  code:
                    type: integer
                    example: 500

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT